/* main */

::-webkit-scrollbar {
  width: 0;
}

@font-face {
  font-family: DMono;
  src: url(./DETERMINATION-RUS-BY-LYAJKA.OTF);
}

@font-face {
  font-family: Picy;
  src: url(./pixelcyr_normal.ttf);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: picy;
  color: white;
  letter-spacing: 1px;
  word-spacing: 2px;
}

a {
  width: fit-content;
}

a:hover {
  transition: 1s;
}

.warning {
  position: absolute;
  width: fit-content;
  height: 100%;
  color: red;
  font-size: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* animation: shaker 3s alternate-reverse infinite; */
  text-shadow: 1px 10px black;
  display: none;
}

h3 {
  margin: 0;
}

/* container */

#container {
  animation: show 5s ease-in-out;
  margin: 1vh 0;
  text-align: center;
  width: 80vw;
  min-width: 200px;
  background-color: rgb(83, 82, 16);
  padding: 0 5vw;
  border-radius: 3vw;
  box-shadow: inset 0 0 100px 20px rgba(0, 0, 0, 0.8);
  /* animation: shake 0.1s infinite ease-in-out reverse; */
}

/* info */

h1 {
  text-align: center;
  width: 100%;
  font-size: 10vw;
  padding: 0;
  margin: 0;
  animation: hcolr infinite 10s ease-in-out;
}

#info p {
  font-family: DMono;
  font-size: 25px;
}

#info :nth-child(2) {
  animation: pcolry infinite 6s ease-in-out;
}

#info :nth-child(3) {
  animation: pcolrg infinite 3s ease-in-out;
}

#info :nth-child(4) {
  animation: pcolrr infinite 10s ease-in-out;
}

/* choice */

#choice {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ch {
  width: 250px;
  margin: 1.5vw;
  min-height: 50vh;
  max-height: 200px;
  padding: 1vh 0.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
}

.ch h3 {
  font-size: 30px;
  opacity: 0.75;
  text-shadow: 1px 2px black;
}

.ch p {
  font-size: 20px;
  opacity: 0.9;
  text-shadow: 5px -2px rgba(0, 0, 0, 0.25);
}

.ch a {
  text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.75);
  font-size: 25px;
}

.c-mad a {
  text-decoration: none;
  color: rgb(255, 190, 190);
}
.c-surv a {
  text-decoration: none;
  color: rgb(190, 228, 255);
}
.c-good a {
  text-decoration: none;
  color: rgb(190, 255, 190);
}
.c-self a {
  text-decoration: none;
  color: rgb(255, 249, 161);
}

.c-mad a:hover {
  text-decoration: none;
  color: rgb(255, 80, 80);
}
.c-surv a:hover {
  text-decoration: none;
  color: rgb(80, 176, 255);
}
.c-good a:hover {
  text-decoration: none;
  color: rgb(80, 255, 118);
}
.c-self a:hover {
  text-decoration: none;
  color: rgb(255, 244, 92);
}

.c-mad {
  background-color: brown;
}

.c-surv {
  background-color: rgb(74, 138, 202);
  width: 300px;
  padding: 2vh 1vw;
}

.c-good {
  background-color: darkolivegreen;
}

.c-self {
  width: 75%;
  min-width: 270px;
  background-color: darkkhaki;
  color: black;
}

.c-self p,
.c-self h3 {
  text-shadow: 5px -2px rgba(255, 255, 255, 0.25);
}

/* last */

#foot a {
  text-decoration: none;
  color: rgb(210, 255, 240);
}

#foot a:hover {
  color: rgb(51, 255, 187);
}

#foot p {
  font-family: DMono;
}

@keyframes shaker {
  0% {
    rotate: 30deg;
  }

  50% {
    opacity: 0;
  }

  100% {
    rotate: -30deg;
  }
}

@keyframes shake {
  0% {
    margin: 1vh 0.5px 1.05vh 0;
  }

  100% {
    margin: 1.05vh 0 1vh 0.5px;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hcolr {
  0% {
    color: white;
  }

  50% {
    color: rgb(201, 184, 75);
  }

  100% {
    color: white;
  }
}

@keyframes pcolry {
  0% {
    color: white;
  }

  33% {
    color: rgb(255, 241, 148);
  }

  67% {
    color: rgb(255, 211, 108);
  }

  100% {
    color: white;
  }
}

@keyframes pcolrr {
  0% {
    color: white;
  }

  33% {
    color: rgb(255, 182, 148);
  }

  67% {
    color: rgb(255, 58, 58);
  }

  100% {
    color: white;
  }
}

@keyframes pcolrg {
  0% {
    color: white;
  }

  33% {
    color: rgb(125, 147, 158);
  }

  67% {
    opacity: 0.25;
  }

  100% {
    color: white;
  }
}

@media (orientation: portrait) {
  #container {
    width: calc(100%-100px);
  }

  h1 {
    font-size: 18vw;
  }
}
